<%- include('layout') %>

    <h1>
        <%= button==='Add Employee' ? 'Add New Employee' : 'Edit Employee' %>
    </h1>

    <form action="<%= action %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= employee.name %>">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= employee.email %>">

        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" name="mobile" value="<%= employee.mobile %>">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= employee.title %>">

        <label for="role">Role:</label>
        <input type="text" id="role" name="role" value="<%= employee.role %>">

        <button type="submit">
            <%= button %>
        </button>
    </form>